<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="banner">
    问题：<input  type="text"  v-model="newArgForProblem"><br>
    答案：<select v-model="newArgForAnswer">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option></select><br>
    <input type="button" value="加入" @click="add">
    <table v-show="problem.length" style="border: 2px solid ">
        <tr>
            <th>题号</th>
            <th>题目</th>
            <th>答案</th>
            <th>操作</th>
        </tr>
        <tr v-for="(item,index) in problem">
            <td>{{index+1}}</td>
            <td>{{item}}</td>
            <td>{{answer[index]}}</td>
            <td><input type="button" @click="destroy(index)" :value="delete1"></td>
        </tr>
    </table>
    <input type="button" value="保存" @click="keep">

</div>
</body>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--接js-->
<script src="js/createTest.js"></script>
</html></body>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var banner=new Vue({
        el:"#banner",
        data:{
            reproblem:"",
            reanswer:"",
            problem:[],
            answer:[],
            newArgForProblem:"",
            newArgForAnswer:"",
            delete1:"删除",
        },
        methods:{
            add:function () {
                this.problem.push(this.newArgForProblem);
                this.answer.push(this.newArgForAnswer);
                this.newArgForProblem="";
                this.newArgForAnswer="";
            },
            destroy:function (index) {
                this.problem.splice(index,1);
                this.answer.splice(index,1);
            },
            keep:function () {
                this.reproblem=this.problem.join("@");
                this.reanswer=this.answer.join("@")

            }
        }
    })
</script>

</html>